:root {
	--tool-width: 180px;
	--background: white;
	--color: black;
	--borderColor: rgba(0, 0, 0, 0.15);
	--btn-bg: rgb(80, 79, 79);
}

* {
	-webkit-tap-highlight-color: transparent;
	transition: all 0.23s ease;
	user-select: none;
	color: var(--color);
}

body {
	overflow: hidden;
}
body[data-theme='dark'] {
	--background: rgba(20, 20, 20, 0.93);
	--color: white;
	--borderColor: rgba(228, 228, 228, 0.15);
	--btn-bg: rgb(204, 204, 204);
}

.tool-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	font-size: 2rem;
	background-color: var(--background);
	width: var(--tool-width);
	transition: all 0.2s ease;
	border-right: 1px solid var(--borderColor);
}
.tool-container .tool-item {
	color: var(--color);
	position: relative;
	cursor: pointer;
	padding: 1.2rem;
	margin: 1rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.tool-container .tool-item > i {
	padding: 0.5rem;
	font-size: 2.5rem;
	margin-right: 1rem;
}
.tool-container .tool-item > span {
	position: relative;
}
.tool-container .tool-item > span::after {
	content: '';
	position: absolute;
	bottom: -7px;
	left: 0;
	right: 0;
	height: 5px;
	background-color: rgb(65, 65, 192);
	transform-origin: left;
	transform: scaleX(0);
	transition: all 0.2s ease-in-out;
}
.tool-container .tool-item:hover > span:after,
.tool-container .tool-item.active > span:after {
	transform: scaleX(1);
}
.tool-container .tool-item.active > span:after {
	background-color: rgb(45, 233, 170);
}
.tool-btn {
	cursor: pointer;
	position: fixed;
	left: 1.1rem;
	top: 1.1rem;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	transition: all 0.2s ease;
	background-color: aquamarine;
}
.tool-brand > span {
	background-image: linear-gradient(to right, #fc7268, #00aefd, #ffa400);
	background-size: 300% 300%;
	-webkit-background-clip: text;
	background-clip: text;
	display: inline-block;
	color: transparent;
	font-weight: 800;
	position: fixed;
	left: 6.2rem;
	top: 2.1rem;
	animation: moving 3s ease-in-out alternate infinite;
}
@keyframes moving {
	33.33% {
		background-position: 100% 300%;
	}
	66.67% {
		background-position: 200% 300%;
	}
	100% {
		background-position: 300% 300%;
	}
}

.tool-container.active {
	--tool-width: 65px;
}
.tool-container.active .tool-btn,
.tool-btn:hover {
	background-color: lightsalmon;
}
.tool-container.active .tool-btn:hover {
	background-color: aquamarine;
}
.tool-container.active .tool-item.active {
	border-right: 0.5rem solid rgb(45, 233, 170);
}
.tool-container.active .tool-item > span {
	display: none;
}
.tool-container.active .tool-brand {
	display: none;
}
.tool-container.active + .main-container {
	--tool-width: 65px;
}

.main-container {
	position: fixed;
	left: var(--tool-width);
	background-color: var(--background);
	overflow: hidden auto;
	height: 100vh;
	width: calc(100vw - var(--tool-width));
}
.main-content {
	display: none;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	padding: 2rem;
	margin-bottom: 5rem;
}
.main-content .header {
	position: relative;
	font-size: 5rem;
	margin: 0 auto 2rem;
	padding: 1rem;
}
.main-content .header span,
.main-content .header .title {
	letter-spacing: 0.5rem;
	color: var(--color);
	position: relative;
	text-align: center;
	font-weight: 500;
	width: 100%;
}
.main-content .timeUpdate {
	color: var(--color);
	position: relative;
	font-style: italic;
	text-align: center;
	font-weight: 300;
	font-size: 2rem;
	padding: 1rem;
}
.main-content .header span::after {
	content: '';
	position: absolute;
	height: 0.8rem;
	width: 75%;
	left: 50%;
	transform: translateX(-50%);
	bottom: -0.9rem;
	background-color: var(--color);
}
.main-content .all-content {
	position: relative;
	width: 70%;
	margin: auto;
}
.main-content .content-item {
	position: relative;
	min-height: 20rem;
	width: 100%;
	display: flex;
	margin: 0.7rem;
	padding: 1.2rem;
	cursor: pointer;
	font-size: 2.4rem;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition: all 0.3s ease;
	border: 0.7rem solid transparent;
	border-radius: 1.5rem;
	color: var(--color);
}
.main-content .content-item:hover {
	border-color: var(--color);
}
.main-content .content-item__info,
.main-content .content-item__tags {
	position: relative;
	text-align: center;
	padding: 0.7rem;
	width: 100%;
}
.main-content .content-item__tags {
	font-style: italic;
}
.main-content .content-item__rating {
	text-align: center;
}
.main-content .content-item__rating .label {
	text-decoration: underline;
}
.main-content .content-item__rating .rating {
	font-size: 2.7rem;
	font-weight: bold;
}
.main-content .content-item__info-index {
	font-size: 3.2rem;
}
.main-content .content-item__info-name {
	font-size: 3rem;
	font-weight: bold;
}

.main-content.no-tags .content-item__tags {
	display: none;
}

.search-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
input {
	width: 75%;
	max-width: 70rem;
	height: 3.7rem;
	margin: 1.5rem;
	font-size: 2rem;
	padding: 2rem 1rem;
	border-radius: 2rem;
	border-color: var(--borderColor);
	color: black;
	outline: none;
}
.search-container .search-by-rating {
	display: flex;
	flex-direction: row;
}

.main-content .user-item {
	color: var(--color);
	font-size: 2.5rem;
	padding: 1.5rem;
	margin: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 0.7rem solid transparent;
	border-radius: 2rem;
	transition: all 0.2s ease;
}
.main-content .user-item:hover {
	border-color: var(--color);
}
.main-content .user-item .left {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.main-content .user-item .left figure img {
	width: 10rem;
	margin: 1.5rem;
	border-radius: 1.8rem;
}
.main-content .user-item .rating-status {
	font-weight: bold;
	color: var(--color);
}
.main-content .user-item .right .email span {
	font-weight: bold;
}
.main-content .user-item .right .friends {
	color: var(--color);
}

.main-content.rating .all-content {
	width: 80%;
}
.main-content .contest-item {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 2.4rem;
	padding: 1.7rem;
	margin: 1.5rem;
	color: var(--color);
	border-bottom: 2px solid var(--color);
}
.main-content .contest-item .contestId {
	font-weight: bold;
}
.main-content .contest-item .contestName {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 40rem;
}
.main-content .contest-item .rank {
	text-decoration: underline;
}

.main-content.contest .all-content {
	font-size: 2rem;
}
.main-content.contest .title {
	font-size: 2.4rem;
	font-weight: bold;
	margin: 1.6rem;
}
.main-content .contestInfo-item {
	display: flex;
	justify-content: space-between;
	margin: 1.2rem 0 1.2rem 1.5rem;
	padding: 1.5rem 2rem;
	border-radius: 1.6rem;
}
.main-content .contestInfo-item:hover {
	background-color: var(--color);
	color: var(--background);
}
.main-content .contestInfo-item:hover .name,
.main-content .contestInfo-item:hover .length,
.main-content .contestInfo-item:hover .startTime {
	color: var(--background);
}
.main-content .contestInfo-item .name {
	word-break: break-word;
	width: 32rem;
}
.main-content .contestInfo-item .length {
	font-weight: 600;
	text-align: center;
	width: 8rem;
}
.main-content .contestInfo-item .startTime {
	text-align: right;
}

button {
	background-color: var(--btn-bg);
	transition: all 0.2s ease;
	color: var(--background);
	border-radius: 1.5rem;
	font-weight: 600;
	cursor: pointer;
	font-size: 2rem;
	margin: 1.2rem;
	padding: 1rem;
	outline: none;
	border: none;
}
button:hover {
	transform: scale(1.2);
}

.load-more {
	border: none;
	outline: none;
	padding: 2rem;
	margin: 1.5rem;
	border-radius: 2rem;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.load-more:hover {
	transform: translateX(-50%) scale(1.2);
}

.userSubmissionStalk {
	margin: 1.2rem auto;
	position: relative;
	font-size: 2rem;
	padding: 1.2rem;
	width: 100%;
	color: var(--color);
}
.userSubmissionStalk .problemDetail {
	text-align: center;
}
.userSubmissionStalk .problemRate {
	font-weight: 800;
}
.userSubmissionStalk .problemVerdict {
	font-weight: 600;
}
.userSubmissionStalk .time {
	font-style: italic;
}

.stalkTools {
	display: flex;
}
.stalkTools input {
	width: 80%;
}
.stalkTools button {
	flex: 1;
}

.theme-container {
	position: fixed;
	right: 2rem;
	top: 2rem;
	margin: 0;
	z-index: 10;
}
.theme-select {
	background-color: antiquewhite;
	border-radius: 3rem;
	top: 1rem;
	right: 7rem;
	display: none;
	position: absolute;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.theme-select.active {
	display: flex;
}
.theme-item {
	position: relative;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	margin: 1rem;
	z-index: 10;
	cursor: pointer;
}
.themeBtn {
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 4.7rem;
	height: 4.7rem;
	background-color: aquamarine;
	margin: 1rem;
	border-radius: 50%;
	cursor: pointer;
}

.all-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

i[class~='bi'] {
	color: var(--color);
}
i[class*='bi-arrow'],
.newRate {
	font-weight: 700;
}
i.bi-arrow-down-right,
.newRate.down {
	color: rgb(243, 63, 63);
}
i.bi-arrow-up-right,
.newRate.up {
	color: lightgreen;
}
