:root {
	--tool-width: 180px;
	--background: white;
	--color: black;
	--borderColor: rgba(0, 0, 0, 0.15);
	--btn-bg: rgb(80, 79, 79);
}

* {
	-webkit-tap-highlight-color: transparent;
	transition: all 0.23s ease;
	user-select: none;
	color: var(--color);
}

body {
	overflow: hidden;
	&[data-theme='dark'] {
		--background: rgba(20, 20, 20, 0.93);
		--color: white;
		--borderColor: rgba(228, 228, 228, 0.15);
		--btn-bg: rgb(204, 204, 204);
	}

	.box {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		z-index: -1;
		perspective: 350px;
		background-color: rgba(0, 0, 0, 0.75);
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease;
		&.active {
			opacity: 1;
			z-index: 100;
		}

		.plane {
			width: 8rem;
			height: 8rem;
			transform: rotate(0);
			background-color: #fc2f70;
			animation: flip 0.6s infinite;
		}
	}

	.tool-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: start;
		overflow: hidden auto;
		font-size: 2rem;
		position: fixed;
		top: 6.2rem;
		left: 0;
		width: var(--tool-width);
		height: calc(100vh - 6.2rem);
		background-color: var(--background);
		border-right: 1px solid var(--borderColor);
		transition: all 0.2s ease;
		&::-webkit-scrollbar,
		&::-webkit-scrollbar-thumb {
			width: 0;
		}

		.tools-title {
			position: fixed;
			top: 0;
			left: 0;
			border: none;
			height: 6.2rem;
			width: var(--tool-width);
			background-color: var(--background);
			border-right: 1px solid var(--borderColor);

			.tool {
				&-brand > span {
					background-image: linear-gradient(
						to right,
						#fc7268,
						#00aefd,
						#ffa400
					);
					background-size: 300% 300%;
					-webkit-background-clip: text;
					background-clip: text;
					display: inline-block;
					color: transparent;
					font-weight: 800;
					position: fixed;
					left: 6.2rem;
					top: 2.1rem;
					animation: moving 3.5s linear alternate infinite;
				}
				&-btn {
					cursor: pointer;
					position: fixed;
					left: 1.1rem;
					top: 1.1rem;
					width: 4rem;
					height: 4rem;
					display: flex;
					align-items: center;
					justify-content: center;
					transition: all 0.2s ease;
					.stick {
						position: relative;
						width: 1rem;
						height: 60%;
						margin: 0.2rem;
						transition: all 0.3s ease;
						transform-origin: bottom;
						animation: upDown 0.4s linear infinite alternate;
						&:nth-child(1) {
							background: #fdd367;
							animation-delay: 0.2s;
						}
						&:nth-child(2) {
							background: #1e8ecd;
							animation-delay: 0.4s;
						}
						&:nth-child(3) {
							background: #b92025;
							animation-delay: 0s;
						}
					}
				}
			}
		}
		.tools {
			position: relative;
			margin-left: -2rem;
			width: 100%;
			height: 100%;
			justify-content: start;

			.tool-item {
				color: var(--color);
				position: relative;
				cursor: pointer;
				padding: 1.2rem;
				margin: 1rem;
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;

				& > i {
					padding: 0.5rem;
					font-size: 2.5rem;
					margin-right: 1rem;
				}
				& > span {
					position: relative;
					&::after {
						content: '';
						position: absolute;
						bottom: -7px;
						left: 0;
						right: 0;
						height: 5px;
						background-color: rgb(65, 65, 192);
						transform-origin: left;
						transform: scaleX(0);
						transition: all 0.2s ease-in-out;
					}
				}

				&.active > span:after {
					background-color: rgb(45, 233, 170);
				}
				&:hover > span:after,
				&.active > span:after {
					transform: scaleX(1);
				}
			}
		}

		&.active {
			--tool-width: 65px;

			.tools-title {
				.tool {
					&-brand {
						display: none;
					}
				}
			}
			.tools {
				.tool-item {
					transition: all 0.3s ease;
					border-right: 0.5rem solid transparent;
					& > span {
						display: none;
					}

					&.active {
						border-right: 0.5rem solid rgb(45, 233, 170) !important;
					}
					&:hover {
						border-right: 0.5rem solid rgb(65, 65, 192);
					}
				}
			}

			& + .main-container {
				--tool-width: 65px;
			}
		}
	}
	.main-container {
		position: fixed;
		left: var(--tool-width);
		background-color: var(--background);
		overflow: hidden auto;
		height: 100vh;
		width: calc(100vw - var(--tool-width));

		.main-content {
			display: none;
			width: 100%;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: flex-start;
			padding: 2rem;
			margin-bottom: 5rem;

			.header {
				position: relative;
				font-size: 5rem;
				margin: 0 auto 2rem;
				padding: 1rem;

				span,
				.title {
					letter-spacing: 0.2rem;
					color: var(--color);
					position: relative;
					text-align: center;
					font-weight: 500;
					width: 100%;
				}
				span::after {
					content: '';
					position: absolute;
					height: 0.6rem;
					width: 75%;
					left: 50%;
					transform: translateX(-50%);
					bottom: -0.9rem;
					background-color: var(--color);
				}
			}
			.timeUpdate {
				color: var(--color);
				position: relative;
				font-style: italic;
				text-align: center;
				font-weight: 300;
				font-size: 2rem;
				padding: 1rem;
			}

			.all-content {
				position: relative;
				max-width: 100rem;
				width: 70%;
				margin: auto;
			}
			.content-item {
				position: relative;
				min-height: 20rem;
				width: 100%;
				display: flex;
				margin: 0.7rem;
				padding: 1.2rem;
				cursor: pointer;
				font-size: 2.4rem;
				align-items: center;
				flex-direction: column;
				justify-content: center;
				transition: all 0.3s ease;
				border: 0.7rem solid transparent;
				border-radius: 1.5rem;
				color: var(--color);
				&:hover {
					border-color: var(--color);
				}

				&__info,
				&__tags {
					position: relative;
					text-align: center;
					padding: 0.7rem;
					width: 80%;
				}
				&__tags {
					font-style: italic;
				}
				&__rating {
					text-align: center;
					.label {
						text-decoration: underline;
					}
					.rating {
						font-size: 2.7rem;
						font-weight: bold;
					}
				}
				&__info-index {
					font-size: 3.2rem;
				}
				&__info-name {
					font-size: 3rem;
					font-weight: bold;
				}
			}

			// Section Items
			.user-item {
				color: var(--color);
				font-size: 2.5rem;
				padding: 1.5rem;
				margin: 1.5rem;
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: space-between;
				border: 0.7rem solid transparent;
				border-radius: 2rem;
				transition: all 0.2s ease;
				&:hover {
					border-color: var(--color);
				}
				.left {
					display: flex;
					align-items: center;
					flex-direction: column;
					justify-content: center;
					&,
					* {
						text-align: center;
					}

					figure img {
						width: 10rem;
						margin: 1.5rem;
						border-radius: 1.8rem;
					}

					@include Responsive($SM) {
						flex-direction: row;
						&,
						* {
							text-align: left;
						}
					}
				}
				.right {
					* {
						text-align: center;
					}
					.rating-status {
						font-weight: bold;
						color: var(--color);
					}
					.email span {
						font-weight: bold;
					}
					.friends {
						color: var(--color);
					}
					@include Responsive($SM) {
						* {
							text-align: right;
						}
					}
				}

				@include Responsive($SM) {
					flex-direction: row;
				}
			}
			.problem-item {
				position: relative;
				i {
					position: absolute;
					font-size: 4rem;
				}
				.bmContainer {
					position: absolute;
					top: 2rem;
					left: 2rem;
					width: 5rem;
					height: 5rem;
					z-index: 10;
					&.fill > .bi-bookmarks,
					& > .bi-bookmarks-fill {
						display: none;
					}
					&.fill > .bi-bookmarks-fill {
						display: block;
					}
					& > .bi-bookmarks,
					& > .bi-bookmarks-fill {
						z-index: inherit;
					}

					@include Responsive($SM) {
						top: 4rem;
						left: 4rem;
					}
				}
			}
			.contest-item {
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: space-around;
				font-size: 2.4rem;
				padding: 1.7rem;
				margin: 1.5rem;
				color: var(--color);
				border-bottom: 2px solid var(--color);
				.contestId {
					font-weight: bold;
				}
				.contestName {
					text-align: center;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					width: 100%;
					@include Responsive($SM) {
						text-align: left;
						width: 40rem;
					}
				}
				.rank {
					text-decoration: underline;
					padding: 0 1.3rem;
				}

				@include Responsive($SM) {
					flex-direction: row;
				}
			}
			.contestInfo-item {
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: space-between;
				margin: 1.2rem 0 1.2rem 1.5rem;
				border-radius: 1.6rem;
				padding: 1.5rem 2rem;
				max-height: 10rem;
				&:hover {
					background-color: var(--color);
					color: var(--background);
					.name,
					.length,
					.startTime {
						color: var(--background);
					}
				}

				$length-width: 8rem;
				$time-width: 30%;
				.name {
					text-align: center;
					word-break: break-word;
					padding: 0 0.5rem;
					width: 100%;
					overflow: hidden;
					display: block;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					@include Responsive($SM) {
						text-align: left;
						width: calc(100% - #{$length-width} - #{$time-width});
						-webkit-line-clamp: 4;
					}
				}
				.length {
					font-weight: 600;
					text-align: center;
					padding: 0 0.5rem;
					width: 100%;
					@include Responsive($SM) {
						width: $length-width;
					}
				}
				.startTime {
					text-align: center;
					width: 100%;
					@include Responsive($SM) {
						text-align: right;
						width: $time-width;
						padding: 0 0.5rem;
					}
				}

				@include Responsive($SM) {
					flex-direction: row;
				}
			}

			&.no-tags {
				.content-item__tags {
					display: none;
				}
			}
			&.bookmarks {
				.bmContainer {
					display: none;
				}
				.bmark-item {
					position: relative;
					& > i {
						font-size: 3.6rem;
						position: absolute;
						cursor: pointer;
						left: 3rem;
						top: 2rem;
						z-index: 10;
						@include Responsive($SM) {
							top: 4rem;
						}
					}
					.in-contest-link,
					.submit-link {
						right: 1rem;
						@include Responsive($SM) {
							right: 3rem;
						}
					}
				}
			}
			&.rating {
				.all-content {
					width: 80%;
				}
			}
			&.contest {
				.all-content {
					font-size: 2rem;
				}
				.title {
					font-size: 2.4rem;
					font-weight: bold;
					margin: 1.6rem;
				}
			}
			&.profile {
				&.isAuth {
					.header {
						.log-in {
							display: none;
						}
						.is-auth {
							display: block;
						}
					}
					.log-in-container {
						display: none;
					}
					.account-container {
						display: flex;
					}
				}

				.header {
					.log-in {
						display: block;
					}
					.is-auth {
						display: none;
					}
				}
				.log-in-container {
					position: relative;
					display: flex;
					align-items: center;
					flex-direction: column;
					justify-content: center;

					* {
						font-size: 2rem;
					}
					.pass-container {
						position: relative;
						label {
							position: absolute;
							&.pass-mode {
								cursor: pointer;
								position: absolute;
								right: -3.2rem;
								top: 50%;
								transform: translateY(-50%);
								display: flex;
								align-items: center;
								justify-content: center;
								width: 3.2rem;
								height: 3.2rem;
								border-radius: 50%;
								background-color: var(--color);

								& > .show {
									display: none;
								}
								& > .hide {
									display: block;
								}

								&.show {
									& > .show {
										display: block;
									}
									& > .hide {
										display: none;
									}
								}
							}
							i {
								color: var(--background);
							}
						}
					}
					input {
						padding: 1rem 2rem;
						margin: 1rem;
						width: 100%;
						max-width: 20rem;
						max-height: 10rem;
						outline: none;
						font-weight: 500;
						border-radius: 4rem;
						text-align: center;
					}
					button {
						margin: 1rem;
						width: 10rem;
						height: 5rem;
						padding: 1rem;
						border-radius: 4rem;
						font-weight: 600;
						color: var(--background);
						background-color: var(--btn-bg);
						span {
							font-weight: 600;
							color: inherit;
						}
					}
					.err-msg {
						padding: 1rem;
						margin: 0.5rem;
						display: none;
						color: var(--background);
						background: rgb(235, 46, 46);
						border-radius: 3rem;
						&.isErr {
							display: block;
						}
					}
				}
				.account-container {
					display: none;
					flex-direction: column;
					* {
						font-size: 2.3rem;
					}
					.account-usage-container {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-between;

						.account-name {
							text-align: center;
							width: 100%;
							padding: 0.5rem;
							margin: 0.5rem;
							font-size: 3.2rem;
						}
						button {
							width: 18rem;
							color: var(--background);
							background-color: var(--color);
							&:hover {
								color: var(--color);
								background-color: var(--background);
							}
						}
					}
					.account-handle-container {
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
			}
		}
		.stalking {
			.stalkTools {
				display: flex;
				input {
					width: 80%;
				}
				button {
					flex: 1;
				}
			}
			.userSubmissionStalk {
				margin: 1.2rem auto;
				position: relative;
				font-size: 2rem;
				padding: 1.2rem;
				width: 100%;
				color: var(--color);
				&::after {
					content: '';
					position: absolute;
					height: 0.2rem;
					bottom: 0;
					left: 50%;
					transform: translate(-50%);
					width: 80%;
					max-width: 30rem;
					background-color: var(--color);
				}

				.problemDetail {
					margin-bottom: 1rem;
					text-align: center;
					padding: 1.5rem;
				}
				.problemDetail > span + span {
					margin-left: 0.5rem;
				}
				.problemName {
					display: inline-block;
					padding: 1rem;
					font-weight: 600;
					border-radius: 2rem;
					border: 2px solid var(--color);
					width: 100%;
					margin-bottom: 1rem;
					@include Responsive($MD) {
						width: auto;
						margin: 0;
					}
				}
				.problemRate {
					font-weight: 800;
				}
				.problemVerdict {
					font-weight: 600;
				}
				.time {
					font-style: italic;
				}
			}
		}
		.extras .all-content {
			position: relative;
			width: 100%;
			.extra-container {
				position: relative;
				display: flex;
				align-items: center;
				z-index: 10;
				margin: 0;
				.extra-btn {
					cursor: pointer;
					position: absolute;
					top: 0;
					left: 0;
					right: unset;
					bottom: 0;
					margin: 1rem;
					width: 4.7rem;
					height: 4.7rem;
					font-size: 4rem;
					border-radius: 50%;
					background-color: transparent;
				}
			}
			.theme-container {
				height: 8rem;

				.theme-select {
					border-radius: 3rem;
					position: absolute;
					left: 7rem;
					display: flex;
					align-items: center;
					flex-flow: row wrap;
					justify-content: center;
				}
				.theme-item {
					border: 0.3rem solid var(--color);
					position: relative;
					width: 5rem;
					height: 5rem;
					border-radius: 50%;
					margin: 1rem;
					z-index: 10;
					cursor: pointer;
				}
			}
			.calc-container {
				height: 28rem;

				.calc-simulator {
					border: 0.2rem solid var(--color);
					left: 7rem;
					width: 70%;
					max-width: 80rem;
					height: 25rem;
					position: absolute;
					display: none;
					align-items: center;
					flex-direction: column;
					justify-content: center;
					border-radius: 2.5rem;

					input {
						max-width: unset;
						width: 90%;
					}
					#out-res {
						padding: 1rem;
						font-size: 3rem;
						color: var(--color);
					}

					@include Responsive($SS) {
						width: 80%;
					}
				}
				.calcBtn + .calc-simulator {
					display: flex;
				}
			}
			.graph-container {
				position: relative;
				height: 8rem;

				iframe {
					position: absolute;
					margin-top: 7rem;
					border: none;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
				.graphBtn {
					width: auto;
					display: flex;
					align-items: center;
					span {
						margin-left: 2rem;
						font-size: 2rem;
					}
				}
			}
		}
	}
	.search-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		.search-by-rating {
			display: flex;
			flex-direction: row;
		}
	}

	// Buttons
	button {
		border: 0.2rem solid var(--color);
		background-color: var(--background);
		color: var(--color);
		transition: all 0.2s ease;
		border-radius: 1.5rem;
		font-weight: 600;
		cursor: pointer;
		font-size: 2rem;
		margin: 1.2rem;
		padding: 1rem;
		outline: none;
		&:hover {
			transform: scale(1.1);
		}

		&.fail {
			background-color: rgb(245, 80, 80);
			color: white;
		}
		&.success {
			background-color: rgb(6, 136, 84);
			color: rgb(215, 249, 148);
		}
	}
	.load-more {
		border: none;
		outline: none;
		padding: 2rem;
		margin: 1.5rem;
		border-radius: 2rem;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		&:hover {
			transform: translateX(-50%) scale(1.2);
		}
	}

	// Others
	.all-btn {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.in-contest-link {
		font-size: 3.6rem;
		position: absolute;
		top: 2rem;
		z-index: 10;
		@include Responsive($SM) {
			top: 4rem;
		}
	}
	.submit-link {
		font-size: 3.6rem;
		position: absolute;
		top: 8rem;
		z-index: 10;
		@include Responsive($SM) {
			top: 12rem;
		}
	}
	.in-contest-link,
	.submit-link {
		right: 5rem;
		@include Responsive($SM) {
			right: 7rem;
		}
	}

	svg.circle-loading {
		position: relative;
		margin: auto;
		display: block;
		width: 4.2rem;
		animation: rotate 2s linear infinite;
		transform-origin: center;
		&.hide {
			display: none;
		}
	}
	circle.circle-loading {
		fill: none;
		stroke: #fc2f70;
		color: transparent;
		background: transparent;
		stroke-linecap: round;
		stroke-width: 5;
		stroke-dashoffset: 0;
		stroke-dasharray: 1, 200;
		animation: dash 1.5s ease-in-out infinite;
	}
}
