@media screen and (max-width: 950px) {
	body {
		.tool-container {
			--tool-width: 65px;
			&.active .tool-item:hover,
			.tool-item.active {
				border-right: 0.5rem solid rgb(45, 233, 170);
			}
			.tool-item > span {
				display: none;
			}
			.tool-brand {
				display: none;
			}
			& + .main-container {
				--tool-width: 65px;
			}
		}
		.main-container {
			.main-content {
				padding: 1rem;
				.header {
					font-size: 3.6rem;
					span::after {
						height: 0.4rem;
					}
				}

				&.rating .all-content,
				.all-content {
					width: 100%;
				}

				.user-item .right {
					text-align: right;
				}

				.contest-item .contestId,
				.contest-item .rank,
				.user-item .right .email {
					display: none;
				}

				.content-item__info,
				.content-item__tags {
					width: 60%;
				}
			}
			.problemset {
				input {
					width: 60vw;
					max-width: 60vw;
				}
				.all-btn {
					flex-wrap: wrap;
				}
				.search-by-rating {
					flex-direction: column;
				}
			}
		}
	}
}
