@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

* {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	&::-webkit-scrollbar {
		width: 7px;
		&-thumb {
			background: grey;
			border-radius: 10px;
		}
	}
}

html {
	font-size: 62.5%;
}

a {
	&:link,
	&:visited,
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		color: var(--color);
	}
}

input,
output {
	width: 75%;
	max-width: 70rem;
	height: 3.7rem;
	margin: 1.5rem;
	font-size: 2rem;
	padding: 2rem 1rem;
	border-radius: 2rem;
	color: var(--color);
	border: 0.2rem solid var(--color);
	background-color: var(--background);
	outline: none;
}

i[class~='bi'] {
	color: var(--color);
}
i[class*='bi-arrow'],
.newRate {
	font-weight: 700;
}
i.bi-arrow-down-right,
.newRate.down {
	color: rgb(243, 63, 63);
}
i.bi-arrow-up-right,
.newRate.up {
	color: lightgreen;
}
