$SS: 430px;
$XS: 480px;
$SM: 768px;
$MD: 1024px;
$XL: 1170px;

@mixin Responsive($size) {
	@media only screen and (min-width: $size) {
		@content;
	}
}

@import 'animation';
@import 'style';
@import 'main';
@import 'responsive';
